$btn-font-weight: normal;
$input-btn-border-width: 1px;
$btn-tag-font-size: .7em;

.btn {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: $input-btn-border-width solid transparent;
	padding: 1em;
	font-size: 1em;
	transition: all 150ms ease-in-out;
	width: 100%;

	&.tags {
		padding: 3px 15px;
		border: 0;
		background-color: #7ec855;
		color: white;
		font-size: $btn-tag-font-size;
		border-radius: 15px;
		outline: none;
		cursor: pointer;
		margin: 0 2px;
		width: auto;

		&.selected {
			background-color: #e948f1;
		}
	}
}
