input {
	transition: border 0.25s ease-in;
	font-family: arial, sans-serif;
	font-size: 1.6em;
	line-height: 1.25;
	margin: 10px 5px 13px 0px;
	border: 1px solid #DFDFDF;
	height: 50px;
	width: 300px;
	color: #333;
	padding: 10px;
	box-sizing: border-box;

	&:focus {
		outline: none;
		border: 1px solid #BFBEBE;
	}

	&[type='*'] {
		height: 50px;
	}

	label {
		@extend .label;
		display: inline-block;
		margin-bottom: 10px;
		font-size: 22px;
	}
}
